.Services {
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.top {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}

.s-button {
    margin-top: 2rem;
}

.top span:nth-of-type(1) {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}

.bottom {
    display: flex;
    position: relative;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    background: #f2f2f2;
    width: 20rem;
    height: 13rem;
}

.card1:hover {
    transform: scale(1.02);
}

.card1>img {
    width: 100px;
    margin-top: 1rem;
}

.card1 span:nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--orange);
}

.card1 span:nth-of-type(2) {
    font-size: 1rem;
    font-weight: 100;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

@media screen and (max-width:480px) {
    .Services {
        margin-top: 19rem;
    }
    .bottom {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .card1 {
        transform: scale(0.8);
        margin-right: 2rem;
    }
}