.card {
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    font-size: 1.5rem;
    padding: 3rem;
}

@media screen and (max-width:480px) {
    .card {
        transform: scale(0.2);
    }
}