.intro {
    display: flex;
    margin-top: 6rem;
    height: 70vh;
}

.intro-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.intro-name {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.intro-name>:nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.intro-name>:nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.intro-name>:nth-child(3) {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 6px;
    color: var(--gray);
}

.intro-name>:nth-child(4) {
    font-size: 0.9rem;
    font-family: sans-serif;
    margin-top: 6px;
    color: var(--gray);
}

.intro-name>:nth-child(5) {
    font-size: 0.9rem;
    font-family: sans-serif;
    margin-top: 6px;
    color: var(--gray);
}

.intro-name>:nth-child(6) {
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-top: 6px;
    color: var(--black);
}

.intro-icon {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
    position: relative;
}

.intro-icon>* {
    transform: scale(0.5);
}

.intro-icon>*:hover {
    cursor: pointer;
    transform: scale(0.6);
}

.intro-right {
    flex: 1;
    position: relative;
}

.intro-right>* {
    position: absolute;
    z-index: 1;
}

.intro-right>:nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}

.intro-right>:nth-child(2) {
    transform: scale(0.67);
    top: -4rem;
    left: -3rem;
}

.intro-right>:nth-child(3) {
    transform: scale(1.4);
    left: 28%;
}

.intro-right>:nth-child(4) {
    transform: scale(0.5);
    left: -24%;
    top: -14%;
    border-radius: 10px;
    padding: 0;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}

@media screen and (max-width:480px) {
    .intro {
        flex-direction: column;
        padding: 0rem;
    }
    .intro-right {
        transform: scale(0.8);
        margin-top: 3.5rem;
        left: -3rem;
    }
    .intro-right .blur {
        display: none;
    }
    .floating-div1 {
        top: 7rem !important;
    }
    .floating-div2 {
        top: 17rem !important;
        margin-left: 2rem !important;
    }
    .intro-icon {
        margin-top: 0rem!important;
        transform: scale(0.6);
        align-items: flex-start;
        margin: auto;
        padding: 0;
    }
    .intro-left {
        gap: 0 !important;
    }
    .intro-button {
        margin-top: 2rem !important;
        margin: auto;
    }
    .intro-name {
        transform: scale(0.9);
        padding: 0rem;
    }
    .intro-name span:nth-of-type(4) {
        margin-top: 1rem;
    }
    .intro-name span:nth-of-type(6) {
        font-size: 1.2rem;
    }
}