.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    gap: 2rem;
    padding: 0 3rem 0 3rem;
    margin-top: 6rem;
}

.t-heading {
    align-self: start;
}

.t-heading>* {
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2) {
    color: var(--orange);
}

.t-blur1 {
    left: 38rem;
    top: 16rem;
}

.t-blur2 {
    left: 0rem;
    top: 9rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
    height: 12rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}

.testimonial>img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

.testimonial>span {
    color: var(--gray);
}

.testimonial-wrapper .swiper {
    width: 100%;
    height: 70vh;
}

.testimonial-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-wrapper .swiper-pagination-bullet-active {
    background: var(--orange);
}

@media screen and (max-width:480px) {
    .testimonial-wrapper {
        transform: scale(0.9);
        padding: 0px;
        top: -6rem;
    }
    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 20rem;
        position: relative;
        height: 7rem;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.26);
        border: 7px solid var(--blueCard);
        box-shadow: var(--boxShadow);
        border-radius: 20px;
    }
    .testimonial>img {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        position: absolute;
        top: 2rem;
    }
    .testimonial>span {
        color: var(--gray);
        font-size: 16px;
        position: absolute;
        margin-top: 7rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}